<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <AppSettings>
    <Setting Name="RequestUri" Value="https://www.sos.wa.gov/elections/vrdb/extract-requests.aspx" />
    <Setting Name="AddressDirectionTokens" Value="N,E,W,S,NW,NE,SW,SE" />
    <Setting Name="AddressTypeTokens" Value="ST,LN,RD,AVE,BLVD,WAY,CT,LP,DR,WY,TRL,CIR,DRIVE,LANE,ROAD,HIGHWAY" />
    <Setting Name="HeaderTokens" Value="Full Name,Birth Date,Gender,Address - Street 1,Address - City,Address - State or Province,Address - Postal Code" />
  </AppSettings>
  <UserSettings>
    <!-- Tokens: *Documents, *Common, *Desktop, *Roaming, *Local -->
    <Default>
      <Setting Name="CommandTimeout" Value="60" Type="int"/>
      <Setting Name="UseConditionalFormatting" Value="True" />
      <Setting Name="ExcludeSame" Value="True" Type="bool"/>
      <Setting Name="ExcludeMissing" Value="False" Type="bool"/>
      <Setting Name="IncludeGender" Value="False" Type="bool"/>
      <Setting Name="IncludeFullFirstName" Value="True" Type="bool"/>
      <Setting Name="IncludeMiddleInitial" Value="False" Type="bool"/>
      <Setting Name="InitialDirectoryCompare" Value="*Documents" Type="token" />
      <Setting Name="InitialDirectoryLoad" Value="*Documents" Type="token" />
      <Setting Name="InitialDirectoryExport" Value="*Documents" Type="token" />
	</Default>
  </UserSettings>
</Settings>